body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#e7c191;
}

.container{
    display:flex;
    justify-content:center;
}

.content{
    position:relative;
    width:100%;
    max-width:1440px;
}

.full-img{
    display:block;
    width:100%;
    height:auto;
}

/* HOTSPOTOVI */

.hs{
    position:absolute;
    cursor:pointer;
    background:rgba(255,0,0,0.25);
    border:2px solid red;
    box-sizing:border-box;
}

/* Jurina */

.hs-jurina{
    top:380px;
    left:392px;
    width:208px;
    height:102px;
}

/* Petrova */

.hs-petrova{
    top:380px;
    left:658px;
    width:208px;
    height:102px;
}

/* Antina */

.hs-antina{
    top:852px;
    left:392px;
    width:208px;
    height:102px;
}

/* Matina */

.hs-matina{
    top:852px;
    left:658px;
    width:208px;
    height:102px;
}

/* FLAGCOUNTER */

.flagbox{
    position:absolute;
    top:1052px;
    left:0;
    width:360px;
    text-align:center;
}

.flagbox img{
    width:360px;
}



